@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

html, body {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: linear-gradient(45deg, orange 20%, white 20%, white 90%, orange 90%);
  background-repeat: no-repeat;
  background-position: center;


  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 12px;


}

button {


  color: white;
  background-color: orange;
  padding: 8px;
  margin-right: 8px;
  margin-left: 8px;

}

.search-container {
  margin: auto;
  width: 100%;
}


.search-components {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#search {
  padding: 8px;

}

.lang-dropdown  {
  color:white;
  background-color: orange;
  padding: 8px;
  margin-right: 8px;
  margin-left: 8px;

}

.lang-dropdown {
  padding: 8px;
}

.results-fiter-bar {}

.results-container {
  padding: 15px;
  display: grid;
  grid-row-gap: 5px;
  margin: auto;
  width: 30%;
}

.result-container {
  display: grid;
  grid-template-columns: 60% 40% 0%;
  grid-row-gap: 5px;
  align-items: center;
  font-size: 15px;

}

.repo-item {
  margin-right: 15px;
}

.repo-name {
  padding-right: 5px;
}

.created-date {
  padding-left: 10px;
}

.link-arrow {
  border: orange solid;
  border-width: 0px 2px 2px 0px;
  padding:4px;
  margin: 0;
  display: inline-block;
  transform: rotate(-45deg);
}
